extends layout

block content
  table.table.table-striped
    thead
      tr
        th Unidad Medida
        th Descripcion
        th Accion

    tbody.lista

block js
  script(src='javascripts/actions/fuentes-lista.js')